body{
    background-color: #ECEDEC;
    margin: 0;
}

/* Header */
    .toggle{
        display: none;
    }

    #ColleenLogo{
        display: none;
    }

/* Header */

/* Top Quote */
#centerquote{
    text-align: center;
    font-family: 'Arial-Black', sans-serif;
    font-size: 24px;
    color: #E4C0CE;
    margin: 10% 10% 15% 10%
}

#centerquote>b{
    color: #AEBDB0;
}
/* Top Quote */

/* Separation of Work */
    #ThinStrip{ /* Top Main Strip */
        height: 1px;
        margin-left: 5%;
        margin-right: 5%;
        background-color: #E4C0CE;
    }
/* Separation of Work */

/* Body */
   
    /* PROJECT GRID */
    .container { /* Project Images */
        position: relative;
        width: 100%;
        margin-top: 1%;
    }

    .container:hover .overlay {
        opacity: 0.7;
    }

    .ProjectPicture{
        width: 100%;
    }

    #projectImg{
        width: 100%;
    }
    /* Project Related Images */

 /* SPECIFIC PROJECTS */
    #ProjectTitle{
        color: #525252;
        font-family: 'Arial-black', sans-serif;
        font-size: 30px;
        margin-left: 2%;
        margin-top: 5%;
    }

    #ProjectDetails{
        color: #777777;
        font-family: 'Arial', sans-serif;
        font-size: 10px; 
        margin-left: 2%;
    }

    #ProjectInfo{
        color: #525252;
        font-family: 'Arial', sans-serif;
        font-weight: medium;
        font-size: 12px; 
        margin-left: 2%;
        margin-top: 1%;
        margin-bottom: 2%;
    }

    #ProjectPicture{
        width: 100%;
    }

    .ProjectCaption{
        margin-top: 5px;
        text-align: left;
        font-family: 'Raleway', sans-serif; 
        color: grey;
        font-size: 8px;
        font-style: oblique;
        margin-left: 2%;
    }
////

    /* Specific Projects */
    .SpecificProjectTitle{
        margin: 20px;
        padding: 10px;
        background-color: #E4C0CE;
        font-family: 'Raleway', sans-serif; 
        font-size: 20px;
        text-align: center;
        color: white;
    }

    .SpecificProjecttitle>div{
        font-size: 10px;
    }


    .ProjectPicture>img{
        width: 100%;
    }

    .GridProjectPicture{
        text-align: center;
    }

    .GridProjectPicture>img{
        width: 48%;
        padding: 5px;
        text-align: center;
        display: inline-block;
    }

    .GridProjectPicture-Small{
        text-align: center;
    }

    .GridProjectPicture-Small>img{
        width: 23%;
        padding: 5px;
        text-align: center;
        display: inline-block;
    }

    .GridProjectPicture-Small>.GridPicRow{
        width: 15%;
        padding: 5px;
        text-align: center;
        display: inline-block;
    }


    .GridProjectPicture-SuperSmall{
        text-align: center;
    }

    .GridProjectPicture-SuperSmall>img{
        width: 18%;
        padding: 5px;
        text-align: center;
        display: inline-block;
    }

    /* Art grid */
        .gridrow{
            display: flex; 
            flex-wrap: wrap; 
            padding: 0px 5px;
        }

        .gridcolumn{
            flex: 25%; 
            padding: 0px, 5px; 
        }
    
        .gridcolumn img{
            margin-top: 5px; 
            vertical-align: middle;
        }
    /* Art grid */

    #SectionTitle{
        color: #E4C0CE;
        font-size: 16px;
        font-weight: bolder;
    }

    .ProjectDescrip{
        margin-left: 2%;
        margin-right: 2%;
        text-align: left;
        font-family: 'Arial', sans-serif;
        color: #565052;
        font-size: 12px;
    }

    .ProjectDescrip>center>a:hover{
        font-family: 'Arial', sans-serif;
        color: #565052;
    }

    .ProjectCaption{
        margin-top: 5px;
        text-align: center;
        font-family: 'Raleway', sans-serif; 
        color: grey;
        font-size: 10px;
        font-style: oblique;
    }
    /* Specific Projects */

    /* Art Page */
    .gridArtwork{
        width: 100%; 
        padding-bottom: 15px; 
        padding-top: 5px;
        text-align: center;
        display: inline-block;
    }

    .gridRow{
        position: relative;
        display: inline-block;
        width: 30%;
        margin: 5px;
    }

    #imgArt{
        width: 100%;
        float: left;
        display: inline-block;
        border-radius: 2%;
    }

    .gridRow:hover .overlay2{
        opacity: 0.4; 
        transform: scale(1.05);
        transition: .5s ease;

    }

    .gridRow:hover #imgArt{
        transform: scale(1.05);
        transition: .5s ease;
    }

    
    .overlay2{
        position: absolute;
        top: 0;
        bottom: 0;
        left: 5px;
        right: 5px;
        height: 100%;
        width: 96%;
        opacity: 0;;
        border-radius: 50%;
    }

        /* Specific Art Page */

        .GridPic{
            width: 96%; 
            padding-bottom: 15px; 
            padding-top: 5px;
            float: left;
            margin-left: 2%;
            margin-right: 2%;
            text-align: center;
        }

        .GridPicRow{
            display: inline-block;
            width: 32%;
            margin: 5px;
            align-content: center;
        }

        .gridPicRow:hover .ImgPic{
            opacity: 0.8;
            transform: scale(1.02);
            transition: .5s ease;
        }

        .ImgPic{
            width: 100%;
            float: left; 
            display: inline-block;
        }

        .IllustrationDescrip{
            margin-left: 5%;
            margin-right: 5%;
            text-align: center;
            font-family: 'Raleway', sans-serif;
            color: #565052;
            font-size: 15px;
        }

        .IllustrationDescrip>i>b{
            color: #E4C0CE;
            font-style:normal;
        }

        .IllustrationDescrip>i>p>b{
            color: #E4C0CE;
            font-style:normal;
        }

        .TopRow{
            text-align: center;
        }

        .TopRow>h3{
            font-family: 'Oswald', sans-serif;
            font-size: 15px;
            color: #565052;
        }

        .TopRow>p{
            font-family: 'Raleway', sans-serif;
            font-size: 12px;
            color: #565052;
        }

        .MainImage{
            width: 70%;
            margin: 20px;
        }
        /* Specific Art Page */

    /* Art Page */

    /* Code */
.container-2 { /* Project Images */
    width: 100%;
    text-align: center;
}

.codeimg{
    width: 100%;
}


.codeimg-2{
    width: 40%;
    padding: 5px;
    text-align: center;
    display: inline-block;
}

.container-2>img{
    width: 80%;
}

.container-2>a{
    color: #E4C0CE;
    font-family: 'Arial', sans-serif;
    size: 12px;
}

.container-2>#Projecttitle>a{
    color: #E4C0CE;
    font-family: 'Arial-black', sans-serif;
}

.container-2>#Projecttitle>a:hover>u{
    color: black;
    font-family: 'Arial-black', sans-serif;
}


.container-2>.codeinfo>h3{
    text-align: left;
    margin-left: 15%;
    font-family: 'Oswald', sans-serif;
    font-size: 30px;
}

.container-2>.codeinfo>h2{
    text-align: left;
    margin-left: 15%;
    font-family: 'Oswald', sans-serif;
    font-size: 25px;
}

.container-2>.codeinfo>p{
    text-align: left;
    margin-left: 15%;
    margin-right: 15%;
    font-family: 'Raleway', sans-serif; 
    font-size: 12px;
    color: #565052;
}

.container-2>.codeinfo>u{
    text-align: left;
    font-family: 'Raleway', sans-serif;
    color: #E4C0CE;
}

.container-2>.codeinfo>a:hover{
    font-family: 'Raleway', sans-serif;
    color: black;
}

.container-2>.codeinfo>p>b{
    color: #E4C0CE;
    font-size: 14px;
    font-weight: 700;
}
    
}
    /* Code */
/* Body */

/* HOMEPAGE CODE */
    #HomeImage{ /* Showcased Image on Home Page */
        width: 100%;
    }

    /* About Me Homepage Information */
    /* OLD CODE - CIRCLE
    img#ColleenPicture{
        float: left;
        display: inline-block;
        border-radius: 50%;
        height: 25%;
        margin: 10px;
    }
    */

    img#ColleenPicture{
        float: left;
        display: inline-block;
        height: 50%;
        margin-left: 30px;
        margin-right: 3%;
    }

    #AboutText{
        padding: 5px;
        margin: 30px;
        font-family: 'Arial', sans-serif;
        color: grey;
        font-size: 15px;
    }

    #AboutText b{
        color: #E4C0CE;
    }

    #AboutText>p>a{
        color:#E4C0CE;
        text-decoration: none;
        font-family: 'Arial-black', sans-serif;
    }

    #AboutText>p>a:hover{
        color:#565052;
        text-decoration: none;
    }

    #OpeningAboutText{
        color: #AEBDB0;
        font-family: 'Arial-Black', sans-serif;
    }

    #Copyright{
        font-style: italic;
        font-size: 10px;
    }

    #ContactInfo{
        margin: 2%;
        float: left;
    }

    .button {
        background-color: #ECEDEC;
        border-style: solid;
        border-width: 2px;
        border-color: #AEBDB0;
        color: #AEBDB0;
        padding: 10px 15px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 12px;
        margin: 4px 2px;
        cursor: pointer;
        border-radius: 20px;
    }

    .button:hover{
        background: #AEBDB0;
        color: white;
    }

/* CONTACT PAGE */
.Contact{
    text-align: center;
}

.Contact-Column-1{
    width: 30%;
    padding: 10px;
    text-align: center;
    color: #565052;
    font-family: 'Arial', sans-serif;
    font-size: 12px;
}

    .Contact-Column-1>b{
        font-family: 'Arial-Black', sans-serif;
        font-size: 16px;
    }

.fa {
    padding: 10px;
    font-size: 30px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 20%;
}

.fa:hover {
    opacity: 0.5;
}

.fa-instagram {
    background: #E4C0CE;
    color: white;
}

.fa-linkedin {
  background: #E4C0CE;
  color: white;
}

.Contact-Column-2{
    text-align: center;
    padding: 10px;
    width: 40%;
}

.Contact-Column-2>h3{
    font-family: 'Arial-Black', sans-serif;
    color: #AEBDB0;
    font-size: 30px;
}

.Contact-Column-2>form>label{
    font-family: 'Arial', sans-serif;
    color: #565052;
    font-size: 12px;
}

input[type=text], select, textarea {
    font-family: 'Arial', sans-serif;
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-width: 2px;
    border-radius: 2px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=submit] {
    background-color: #ECEDEC;
    border-style: solid;
    border-width: 2px;
    border-color: #AEBDB0;
    color: #AEBDB0;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 20px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #AEBDB0;
    color: white;
}
    /* About Me Homepage Information */

    /* Contact Information */
    .ThinPinkStrip{
        height: 1px;
        /*margin-left: 20px;
        margin-right: 20px;*/
        background-color: #E4C0CE;
        width: 100%;
        font-weight: bold;
        font-family: 'Raleway', sans-serif;
        color: #E4C0CE;
    }

    .ThinPinkStrip{
        height: 1px;
        /*margin-left: 20px;
        margin-right: 20px;*/
        background-color: #E4C0CE;
        width: 100%;
        font-weight: bold;
        font-family: 'Raleway', sans-serif;
        color: #E4C0CE;
        padding:0;
    }

    #Email{
        display: inline-block;
        font-family: 'Raleway', sans-serif;
        color: grey;
        font-size: 12px;
        position: relative;
        float: left;
        margin-left: 10px;
    }

    #EmailPic{
        height: 15px;
        display: inline-block;
    }

    #Phone{
        display: inline-block;
        font-family: 'Raleway', sans-serif;
        color: grey;
        font-size: 12px;
        position: relative;
        float: left;
        margin-left: 10px;
    }


    #PhonePic{
        height: 20px;
        display: inline-block;
    }

    #Resume{
        display: inline-block;
        font-family: 'Raleway', sans-serif;
        color: grey;
        position: relative;
        float: left;
    }

.Resume{
    height: 100%;
    display: block;
}

.ResumePic{
    height: 100%;
    margin: 2%;
}


    #ResumePic{
        height: 100%;
        display: inline-block;
    }
    /* Contact Information */
/* HOMEPAGE CODE */


footer{
    padding: 0;
    margin-left: 0;
    margin-right: 0;
}

#FooterImage{
    text-align: center;
    width: 100%;
}

#FooterImage2{
    text-align: center;
    width: 100%;
    opacity: 0.5;
}

@media screen and (min-width: 767px) {
    .GridPicRow{
        width: 30.8%;

    }
    
    /* NAVBAR */
    nav{
        width: 100%;
        display: inline-flex;
        align-content: center;
        justify-content: center;
        margin-top: 10px;
    }
    
    .ColleenLogo{
        display: block;
        width: 150px;
        text-align: center;
        display: inline-block;
        justify-content: center;
    }
    
    ul{
        font-family: 'Arial', sans-serif;
        font-size: 12px;
        text-align: left;
        width: 100%;
        /*width: 47%;*/
        margin-bottom: 15px;
        padding: 0;
        margin-top: 50px;

    }

    ul li{
        list-style: none;
        display: inline-block;
        padding: 5px;
    }

    ul li a{
        text-decoration: none;
    }

    ul li a:link{
        color: #E4C0CE;
        display: inline-block;
    }

    ul>.RightNavBar>li>a:link{
        color: #AEBDB0;
    }
    
    a:link{
        color: #E4C0CE;
        display: inline-block;
        text-align: center;
    }
    
    nav ul>.RightNavBar>li a:hover{
        color: #565052;
    }
    
    nav ul li a:hover{
        color: #565052;
    }
    
    nav ul li .active{
        font-family: 'Arial-Black', sans-serif;
        font-weight: bolder;
        color: #565052;
    }
    
    /* NAVBAR */
    
    .ProjectTitle{
        color: white;
        font-family: 'Arial-Black', sans-serif;
        font-weight: bold;
        font-size: 50px;
        padding: 6%;
    }
    
    .overlay { /* Project Images */
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        height: 100%;
        width: 100%;
        opacity: 0;
        transition: .5s ease;
        background-color: black;  
    }

}


@media screen and (max-width: 766px) {
    .GridPicRow{
        width:47.5%;
    }
    
    /* NAVBAR */ 
    
    nav{
        width: 100%;
    }
    
    .toggle{
       display: inline-block; 
        padding: 10px 20px;
        color: #E4C0CE;
        float: right;
        box-sizing: border-box;
        margin-top: 40px;
        font-size: 26px;
    } 
    
    img.ColleenLogo{
        width: 100px;
        height: 100px;
        display: inline-block;
        margin-left: 40%;
    }
    
    
    ul{
        width: 100%;
        display: none;
        padding: 0;
        font-size: 36px;
        font-family: 'Arial-Black', sans-serif;
    }
    
    ul li{
        display: block;
        text-align: center;
    }
    
    ul li a{
        text-decoration: none;
    }

    ul li a:link{
        color: #E4C0CE;
        display: inline-block;
    }

    ul>.RightNavBar>li>a:link{
        color: #AEBDB0;
    }
    
    nav ul>.RightNavBar>li a:hover{
        color: #565052;
    }
    
    nav ul li a:hover{
        color: #565052;
    }
    
    nav ul li .active{
        font-family: 'Arial-Black', sans-serif;
        font-weight: bolder;
        font-size: 40px;
        color: #565052;
    }
    
    .active{
        display: block;
    }
    
    /* NAVBAR */
    
    .ProjectTitle{
        color: white;
        font-family: 'Arial-Black', sans-serif;
        font-weight: bold;
        font-size: 30px;
        padding: 6%;
        text-align: center;
    }
    
    .overlay { /* Project Images */
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        height: 100%;
        width: 100%;
        background-color: black;
        opacity: 0.3;
    }
}


        


            


