body{
    background-color: #E9E2DA;
    margin: 0;
}

/* Header */
    .toggle{
        display: none;
    }

    #ColleenLogo{
        display: none;
    }

    ul>.RightNavBar>li>a:visited{
        color: #AEBDB0;
    }
    
    ul li a:visited{
        color: white;
        display: inline-block;
    }

/* Header */

/* Top Quote */
#backgroundimage{
    display: inline-flex;
    width: 100%;
    height: 82%;
    float: right;
    text-align: right;
    justify-content: right;
}

#leftquote{
    text-align: left;
    font-family: 'Raleway', sans-serif;
    font-size: 12px;
    color: #515151;
    margin: 10% 10% 15px 50px;
    width: 35%;
    position: absolute;
}

#COCO{
    font-family: 'Raleway-Black', sans-serif;
    font-weight:900;
    font-size: 100px;
    color: #CC6577;
}

#introductiontext{
    font-family: 'Raleway-Black', sans-serif;
    font-weight:900;
    font-size: 15px;
    color: #515151;
}

#centerquote{
    text-align: center;
    font-family: 'Raleway-Black', sans-serif;
    font-weight: 900;
    font-size: 24px;
    color: #CC6577;
    margin: 8% 10% 8% 10%;
}

/* Top Quote */

/* Separation of Work */
    #ThinStrip{ /* Top Main Strip */
        height: 1px;
        margin-left: 5%;
        margin-right: 5%;
        background-color: #CC6577;
    }
/* Separation of Work */

/* Body */
   
    /* PROJECT GRID */
    .containergrid{
        text-align: center;
    }

    .containergrid>img{
        width: 23%;
        padding: 5px;
        text-align: center;
        display: inline-block;
    }

    .containergrid>.GridPicRow{
        width: 15%;
        padding: 5px;
        text-align: center;
        display: inline-block;
    }

    .containergrid>.GridPicRowProject{
        width: 15%;
        padding: 5px;
        text-align: center;
        display: inline-block;
    }

    .container { /* Project Images */
        position: relative;
        width: 100%;
        margin-top: 1%;
    }

    .container:hover .overlay {
        opacity: 0.3; 
    }

    .ProjectPicture{
        width: 100%;
    }

    #projectImg{
        width: 100%;
    }
    /* Project Related Images */

 /* SPECIFIC PROJECTS */
    #ProjectTitle{
        color: #CC6577;
        font-family: 'Raleway-Black', sans-serif;
        font-weight:900;
        font-size: 30px;
        margin-left: 2%;
        margin-top: 5%;
    }

    #ProjectTitle-Sub{
        color: #CC6577;
        font-family: 'Raleway-Black', sans-serif;
        font-weight:900;
        font-size: 16px;
        margin-left: 2%;
        margin-top: 2%;
    }

    #ProjectDetails{
        color: #777777;
        font-family: 'Arial', sans-serif;
        font-size: 12px; 
        margin-left: 2%;
    }

    #ProjectInfo{
        color: #525252;
        font-family: 'Raleway', sans-serif;
        font-weight: medium;
        font-size: 12px; 
        margin-left: 2%;
        margin-right: 2%;
        margin-top: 1%;
        margin-bottom: 2%;
    }

    #ProjectPicture{
        width: 100%;
    }

    .ProjectCaption{
        margin-top: 5px;
        text-align: left;
        font-family: 'Raleway', sans-serif; 
        color: grey;
        font-size: 8px;
        font-style: oblique;
        margin-left: 2%;
    }
////

    /* Specific Projects */
    .SpecificProjectTitle{
        margin: 20px;
        padding: 10px;
        background-color: #CC6577;
        font-family: 'Raleway', sans-serif; 
        font-size: 20px;
        text-align: center;
        color: white;
    }

    .SpecificProjecttitle>div{
        font-size: 10px;
    }


    .ProjectPicture>img{
        width: 100%;
    }

    .GridProjectPicture{
        text-align: center;
    }

    .GridProjectPicture>img{
        width: 48%;
        padding: 5px;
        text-align: center;
        display: inline-block;
    }

    .GridProjectPicture-Small{
        text-align: center;
    }

    .GridProjectPicture-Small>img{
        width: 23%;
        padding: 5px;
        text-align: center;
        display: inline-block;
    }

    .GridProjectPicture-Small>.GridPicRow{
        width: 15%;
        padding: 5px;
        text-align: center;
        display: inline-block;
    }

    .CompanyPictures{
        text-align: left;
    }

    .CompanyPictures>img{
        width: 50%;
        padding: 5px;
        text-align: center;
        display: inline-flex;
        object-fit: contain;
    }

    .CompanyPictures>.GridPicRow{
        width: 100%;
        padding: 5px;
        text-align: center;
        display: inline-flex;
    }

    .GridProjectPicture-SuperSmall{
        text-align: center;
    }

    .GridProjectPicture-SuperSmall>img{
        width: 18%;
        padding: 5px;
        text-align: center;
        display: inline-block;
    }

    /* Art grid */
        .gridrow{
            display: flex; 
            flex-wrap: wrap; 
            padding: 0px 5px;
        }

        .gridcolumn{
            flex: 25%; 
            padding: 0px, 5px; 
        }
    
        .gridcolumn img{
            margin-top: 5px; 
            vertical-align: middle;
        }
    /* Art grid */

    #SectionTitle{
        color: #CC6577;
        font-size: 16px;
        font-weight: bolder;
    }

    .ProjectDescrip{
        margin-left: 2%;
        margin-right: 2%;
        text-align: left;
        font-family: 'Raleway', sans-serif;
        color: #515151;
        font-size: 12px;
    }

    .ProjectDescrip>center>a:hover{
        font-family: 'Raleway', sans-serif;
        color: #515151;
    }

    .ProjectCaption{
        margin-top: 5px;
        text-align: center;
        font-family: 'Raleway', sans-serif; 
        color: grey;
        font-size: 10px;
        font-style: oblique;
    }
    /* Specific Projects */

    /* Art Page */
    .gridArtwork{
        width: 100%; 
        padding-bottom: 15px; 
        padding-top: 5px;
        text-align: center;
        display: inline-block;
    }

    .gridRow{
        position: relative;
        display: inline-block;
        width: 30%;
        margin: 5px;
    }

    #imgArt{
        width: 100%;
        float: left;
        display: inline-block;
        border-radius: 2%;
    }

    .gridRow:hover .overlay2{
        opacity: 0.4; 
        transform: scale(1.05);
        transition: .5s ease;

    }

    .gridRow:hover #imgArt{
        transform: scale(1.05);
        transition: .5s ease;
    }

    
    .overlay2{
        position: absolute;
        top: 0;
        bottom: 0;
        left: 5px;
        right: 5px;
        height: 100%;
        width: 96%;
        opacity: 0;;
        border-radius: 50%;
    }

        /* Specific Art Page */

        .GridPic{
            width: 96%; 
            padding-bottom: 15px; 
            padding-top: 5px;
            float: left;
            margin-left: 2%;
            margin-right: 2%;
            text-align: center;
        }

        .GridPicRow{
            display: inline-block;
            width: 32%;
            margin: 5px;
            align-content: center;
        }

        .GridPicRow-OnlyLook{
            display: inline-block;
            width: 32%;
            margin: 5px;
            align-content: center;
        }

        .gridPicRow:hover .ImgPic{
            opacity: 0.8;
            transform: scale(1.02);
            transition: .5s ease;
        }

        .GridPicProject{
            width: 96%; 
            padding-bottom: 15px; 
            padding-top: 5px;
            float: left;
            margin-left: 2%;
            margin-right: 2%;
            text-align: center;
        }

        .GridPicRowProject{
            display: inline-block;
            width: 32%;
            margin: 5px;
            align-content: center;
        }

        .gridPicRowProject:hover .ImgPic{
            opacity: 0.8;
            transform: scale(1.02);
            transition: .5s ease;
            border-radius: 10px;
            /* border: 5px solid #CC6577; */
        }

        .ImgPic{
            width: 100%;
            float: left; 
            display: inline-block;
        }

        .IllustrationDescrip{
            margin-left: 5%;
            margin-right: 5%;
            text-align: center;
            font-family: 'Raleway', sans-serif;
            color: #565052;
            font-size: 15px;
        }

        .IllustrationDescrip>i>b{
            color: #CC6577;
            font-style:normal;
        }

        .IllustrationDescrip>i>p>b{
            color: #CC6577;
            font-style:normal;
        }

        .TopRow{
            text-align: center;
        }

        .TopRow>h3{
            font-family: 'Oswald', sans-serif;
            font-size: 15px;
            color: #565052;
        }

        .TopRow>p{
            font-family: 'Raleway', sans-serif;
            font-size: 12px;
            color: #565052;
        }

        .MainImage{
            width: 70%;
            margin: 20px;
        }
        /* Specific Art Page */

    /* Art Page */

    /* Code */
.container-2 { /* Project Images */
    width: 100%;
    text-align: center;
}

.codeimg{
    width: 100%;
}


.codeimg-2{
    width: 40%;
    padding: 5px;
    text-align: center;
    display: inline-block;
}

.container-2>img{
    width: 80%;
}

.container-2>a{
    color: #CC6577;
    font-family: 'Arial', sans-serif;
    size: 12px;
}

.container-2>#Projecttitle>a{
    color: #CC6577;
    font-family: 'Arial-black', sans-serif;
}

.container-2>#Projecttitle>a:hover>u{
    color: black;
    font-family: 'Arial-black', sans-serif;
}


.container-2>.codeinfo>h3{
    text-align: left;
    margin-left: 15%;
    font-family: 'Oswald', sans-serif;
    font-size: 30px;
}

.container-2>.codeinfo>h2{
    text-align: left;
    margin-left: 15%;
    font-family: 'Oswald', sans-serif;
    font-size: 25px;
}

.container-2>.codeinfo>p{
    text-align: left;
    margin-left: 15%;
    margin-right: 15%;
    font-family: 'Raleway', sans-serif; 
    font-size: 12px;
    color: #565052;
}

.container-2>.codeinfo>u{
    text-align: left;
    font-family: 'Raleway', sans-serif;
    color: #CC6577;
}

.container-2>.codeinfo>a:hover{
    font-family: 'Raleway', sans-serif;
    color: black;
}

.container-2>.codeinfo>p>b{
    color: #CC6577;
    font-size: 14px;
    font-weight: 700;
}
    
}
    /* Code */
/* Body */

/* HOMEPAGE CODE */
    #HomeImage{ /* Showcased Image on Home Page */
        width: 100%;
    }

    /* About Me Homepage Information */
    /* OLD CODE - CIRCLE
    img#ColleenPicture{
        float: left;
        display: inline-block;
        border-radius: 50%;
        height: 25%;
        margin: 10px;
    }
    */

    img#ColleenPicture{
        float: left;
        display: inline-block;
        height: 50%;
        margin-left: 30px;
        margin-right: 3%;
    }

    #AboutText{
        padding: 5px;
        margin: 30px;
        font-family: 'Arial', sans-serif;
        color: grey;
        font-size: 15px;
    }

    #AboutText b{
        color: #CC6577;
    }

    #AboutText>p>a{
        color:#CC6577;
        text-decoration: none;
        font-family: 'Arial-black', sans-serif;
    }

    #AboutText>p>a:hover{
        color:#565052;
        text-decoration: none;
    }

    #OpeningAboutText{
        color: #515151;
        font-family: 'Raleway-Black', sans-serif;
        font-weight: 900px;
        font-size: 20px;
    }

    #OpeningAboutText>b{
        color: #CC6577;
        font-family: 'Raleway-Black', sans-serif;
        font-weight: 900px;
        font-size: 20px;
    }

    #Copyright{
        font-style: italic;
        font-size: 10px;
    }

    #ContactInfo{
        margin: 2%;
        float: left;
    }

    .button {
        background-color: #ECEDEC;
        border-style: solid;
        border-width: 2px;
        border-color: #CC6577;
        color: #CC6577;
        padding: 10px 15px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 12px;
        margin: 4px 2px;
        cursor: pointer;
        border-radius: 10px;
    }

    .button:hover{
        background: #CC6577;
        color: white;
    }

/* CONTACT PAGE */
.Contact{
    text-align: center;
}

.Contact-Column-1{
    width: 30%;
    padding: 10px;
    text-align: center;
    color: #565052;
    font-family: 'Arial', sans-serif;
    font-size: 12px;
}

    .Contact-Column-1>b{
        font-family: 'Arial-Black', sans-serif;
        font-size: 16px;
    }

.fa {
    padding: 10px;
    font-size: 30px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 20%;
}

.fa:hover {
        background: #CC6577;
        color: white;
}

.fa-instagram {
        background-color: #ECEDEC;
        border-style: solid;
        border-width: 2px;
        border-color: #CC6577;
        color: #CC6577;
}

.fa-linkedin {
        background-color: #ECEDEC;
        border-style: solid;
        border-width: 2px;
        border-color: #CC6577;
        color: #CC6577;
}

.Contact-Column-2{
    text-align: center;
    padding: 10px;
    width: 40%;
}

.Contact-Column-2>h3{
    font-family: 'Arial-Black', sans-serif;
    color: #AEBDB0;
    font-size: 30px;
}

.Contact-Column-2>form>label{
    font-family: 'Arial', sans-serif;
    color: #565052;
    font-size: 12px;
}

input[type=text], select, textarea {
    font-family: 'Arial', sans-serif;
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-width: 2px;
    border-radius: 2px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=submit] {
    background-color: #ECEDEC;
    border-style: solid;
    border-width: 2px;
    border-color: #AEBDB0;
    color: #AEBDB0;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 20px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #AEBDB0;
    color: white;
}
    /* About Me Homepage Information */

    /* Contact Information */
    .ThinPinkStrip{
        height: 1px;
        /*margin-left: 20px;
        margin-right: 20px;*/
        background-color: #CC6577;
        width: 100%;
        font-weight: bold;
        font-family: 'Raleway', sans-serif;
        color: #CC6577;
    }

    .ThinPinkStrip{
        height: 1px;
        /*margin-left: 20px;
        margin-right: 20px;*/
        background-color: white;
        width: 100%;
        font-weight: bold;
        font-family: 'Raleway', sans-serif;
        color: #CC6577;
        padding:0;
    }

    #Email{
        display: inline-block;
        font-family: 'Raleway', sans-serif;
        color: grey;
        font-size: 12px;
        position: relative;
        float: left;
        margin-left: 10px;
    }

    #EmailPic{
        height: 15px;
        display: inline-block;
    }

    #Phone{
        display: inline-block;
        font-family: 'Raleway', sans-serif;
        color: grey;
        font-size: 12px;
        position: relative;
        float: left;
        margin-left: 10px;
    }


    #PhonePic{
        height: 20px;
        display: inline-block;
    }

    #Resume{
        display: inline-block;
        font-family: 'Raleway', sans-serif;
        color: grey;
        position: relative;
        float: left;
    }

.Resume{
    height: 100%;
    display: block;
}

.ResumePic{
    height: 100%;
    margin: 2%;
}


    #ResumePic{
        height: 100%;
        display: inline-block;
    }
    /* Contact Information */
/* HOMEPAGE CODE */


footer{
    padding: 0;
    margin-left: 0;
    margin-right: 0;
}

#FooterImage{
    text-align: center;
    width: 15%;
    margin-bottom: 10%
}

#FooterImage2{
    text-align: center;
    width: 100%;
    opacity: 0.5;
}

@media screen and (min-width: 813px) {
    .GridPicRow{
        width: 30.8%;

    }
    
    .GridPicRowProject{
        width: 30.8%;

    }
    
    .GridPicRow-OnlyLook{
        width: 30.8%;

    }
    
    /* NAVBAR */
    nav{
        width: 100%;
        display: inline-flex;
        text-align: center;
        align-content: center;
        justify-content: center;
        margin-top: 0px;
        background-color: #CC6577;
    }
    
    .ColleenLogo{
        display: block;
        width: 200px;
        display: inline-block;
        justify-content: center;
        margin-top: 45px;
        margin-left: 20%;
        
    }
    
    ul{
        font-family: 'Raleway', sans-serif;
        font-size: 16px;
        text-align: right;
        width: 100%;
        /*width: 47%;*/
        margin-bottom: 0px;
        padding: 30;
        margin-top: 20px;
        word-spacing: 30px;

    }

    ul li{
        list-style: none;
        display: inline-block;
        padding: 5px;
    }

    ul li a{
        text-decoration: none;
    }

    ul li a:link{
        color: white;
        display: inline-block;
    }

    ul>.RightNavBar>li>a:link{
        color: #AEBDB0;
    }
    
    a:link{
        color: #CC6577;
        display: inline-block;
        text-align: center;
    }
    
    nav ul>.RightNavBar>li a:hover{
        color: #565052;
    }
    
    nav ul li a:hover{
        color: white;
        font-weight: bolder; 
        stroke: #F88282;
        stroke-width: 1;
        filter: drop-shadow(2px 2px 2px black);
    }
    
    nav ul li .active{
        color: white;
        font-weight: bolder; 
        stroke: #F88282;
        stroke-width: 1;
        text-decoration: underline;
    }
    
    ul>.RightNavBar>li>.active{
        font-family: 'Raleway', sans-serif;
        font-weight: bolder;
        color: #565052;
    }

    
    /* NAVBAR */
    
    /*.ProjectTitle{
        color: white;
        font-family: 'Raleway-Black', sans-serif;
        font-weight: 900;
        text-align: center;
        font-size: 100px;
        padding: 5%;
    }*/
    
    .overlay { /* Project Images */
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        height: 100%;
        width: 100%;
        opacity: 0;
        transition: .5s ease;
        background-color: white;  
    }

}


@media screen and (max-width: 812px) {
    .GridPicRow{
        width:47.5%;
        position: relative;
    }
    
    .GridPicRow-Text{
        text-align: center;
    }
    
    .GridPicRowProject{
        width:47.5%;
        position: relative;
    }
    
    .GridPicRowProject-Text{
        text-align: center;
    }
    
    /* NAVBAR */ 
    
    nav{
        width: 100%;
    }
    
    .toggle{
       display: inline-block; 
        padding: 10px 20px;
        color: #CC6577;
        float: right;
        box-sizing: border-box;
        margin-top: 40px;
        font-size: 26px;
    } 
    
    img.ColleenLogo{
        width: 100px;
        height: 100px;
        display: inline-block;
        margin-left: 40%;
    }
    
    
    ul{
        width: 100%;
        display: none;
        padding: 0;
        font-size: 36px;
        font-family: 'Arial-Black', sans-serif;
    }
    
    ul li{
        display: block;
        text-align: center;
    }
    
    ul li a{
        text-decoration: none;
    }

    ul li a:link{
        color: #CC6577;
        display: inline-block;
    }

    ul>.RightNavBar>li>a:link{
        color: #AEBDB0;
    }
    
    nav ul>.RightNavBar>li a:hover{
        color: #565052;
    }
    
    nav ul li a:hover{
        color: #565052;
    }
    
    nav ul li .active{
        font-family: 'Arial-Black', sans-serif;
        font-weight: bolder;
        font-size: 40px;
        color: #565052;
    }
    
    .active{
        display: block;
    }
    
    /* NAVBAR */
    
    .ProjectTitle{
        color: white;
        font-family: 'Arial-Black', sans-serif;
        font-weight: bold;
        font-size: 30px;
        padding: 6%;
        text-align: center;
    }
    
    .overlay { /* Project Images */
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        height: 100%;
        width: 100%;
        background-color: black;
        opacity: 0.3;
    }
}


        


            


